header#main-header{
    background-color: #272727;
    height: 72px;
}

header#main-header .header-content{
    width: 100%;
    max-width: 930px;
    height: 72px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px auto;
}

header#main-header .header-content a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

header#main-header .header-content a[name="enter"]:hover{
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #404040;
}

